python 2.7 : https://www.python.org/ftp/python/2.7/python-2.7.msi
numpy 1.8.0 : http://sourceforge.net/projects/numpy/files/NumPy/1.8.0/numpy-1.8.0-win32-superpack-python2.7.exe/download
opencv 2.4.8 : https://sourceforge.net/projects/opencvlibrary/files/opencv-win/2.4.8/opencv-2.4.8.exe/download
